<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 커뮤니티</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="left-space">
            <header>
                <a href="index.html">
                    <img src="../image/woori_fis_logo.png" alt="로고">
                </a>
            </header>
            <nav>
                <!-- 메뉴바 -->
                <li id="menu1"><a href="menu1.html">좋아요순</a></li>
                <li id="menu2"><a href="menu2.html">가격순</a></li>
                <li id="menu3"><a href="menu3.html">거리순</a></li>

            </nav>
        </div>

        <section>
            <header>
                <div class="image" id="main_logo">
                    <img src="../image/main_logo.png" alt="메인 로고">
                </div>
                <div class="category">
                    <div class="box"><a href="korean_food.html">한식</a></div>
                    <div class="box"><a href="asia.china_food.html">아시안/중식</a></div>
                    <div class="box"><a href="japan_food.html">일식</a></div>
                    <div class="box"><a href="bunsik.html">분식</a></div>
                    <div class="box"><a href="italian_food.html">양식</a></div>
                    <form class="search" action="https://search.naver.com/search.naver?">
                        <input type="text" name="query" value="" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </form>
                </div>
            </header>
            <article>
                <ul>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%EC%83%9D%EC%96%B4%EA%B1%B0%EC%8A%A4%ED%8B%B4/place/31936062?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/ssaenaugustin.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%EC%83%9D%EC%96%B4%EA%B1%B0%EC%8A%A4%ED%8B%B4/place/31936062?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                        <div class="subject">생어거스틴 상암점</div>
                                    </a>
                                    <div class="description1">#맛집 #10분이내 #아시아</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            132
                                        </div>
                                        <div class="like-text"><a href="#">💙</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로58길 10</div>
                                <div class="price">20,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%EC%8B%A0%EB%A3%BD%ED%91%B8/place/1140692233?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/sinrungpumaratang.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%EC%8B%A0%EB%A3%BD%ED%91%B8/place/1140692233?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                    </a>
                                    <div class="description1">#마라탕맛집 #10분~ #중식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            121
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로 396</div>
                                <div class="price">10,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%EC%B5%9C%EC%84%A0%EC%83%9D%EB%A7%88%EB%9D%BC%ED%83%95/place/1664227079?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/choimaratang.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%EC%B5%9C%EC%84%A0%EC%83%9D%EB%A7%88%EB%9D%BC%ED%83%95/place/1664227079?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                        <div class="subject">최선생마라탕 상암점</div>
                                    </a>
                                    <div class="description1">#가성비 #10분이내 #중식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            99
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로 396</div>
                                <div class="price">10,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%ED%95%98%EB%85%B8%EC%9D%B4%EC%9D%98%EC%95%84%EC%B9%A8/place/18383807?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/hanoimaratang.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%ED%95%98%EB%85%B8%EC%9D%B4%EC%9D%98%EC%95%84%EC%B9%A8/place/18383807?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                        <div class="subject">하노이의아침 상암점</div>
                                    </a>
                                    <div class="description1">#베트남 #10분~ #아시아</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            132
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 성암로 267 MBC몰 2층 방송센터</div>
                                <div class="price">10,000원~</div>
                            </div>
                        </div>
                    </li>
                </ul>

            </article>
        </section>
    </main>

    <hr />
    <footer>
        <div style="width: 880px;">
            <nav>
                <a href="https://map.naver.com/v5/search/%EC%83%81%EC%95%94%EB%8F%99%20%EB%A7%9B%EC%A7%91?c=13,0,0,0,dh"
                    target="_blank">Naver_map</a> |
                <a href="https://map.kakao.com/" target="_blank">Kakao_map</a>
            </nav>
            <p>
                <span>팀명 : 오늘 뭐 먹지</span></br>
                <span>팀원 : 복영빈 - header, 김승연 - navigation, 임예지 - header/footer, 공태식 - section</span></br>
                <span>Copyright 2023. All Rights Reserved </span></br>
            </p>
        </div>
    </footer>
</body>

</html>