<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 커뮤니티</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="left-space">
            <header>
                <a href="index.html">
                    <img src="../image/woori_fis_logo.png" alt="로고">
                </a>
            </header>
            <nav>
                <!-- 메뉴바 -->
                <li id="menu1"><a href="menu1.html">좋아요순</a></li>
                <li id="menu2"><a href="menu2.html">가격순</a></li>
                <li id="menu3"><a href="menu3.html">거리순</a></li>

            </nav>
        </div>

        <section>
            <header>
                <div class="category">
                    <div class="box"><a href="korean_food.html">한식</a></div>
                    <div class="box"><a href="asia.china_food.html">아시안/중식</a></div>
                    <div class="box"><a href="japan_food.html">일식</a></div>
                    <div class="box"><a href="bunsik.html">분식</a></div>
                    <div class="box"><a href="italian_food.html">양식</a></div>
                    <form class="search" action="https://search.naver.com/search.naver?">
                        <input type="text" name="query" value="" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </form>
                </div>
            </header>
            <article>
                <ul>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%EC%83%9D%EC%96%B4%EA%B1%B0%EC%8A%A4%ED%8B%B4/place/31936062?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/autogimbab.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%EC%83%9D%EC%96%B4%EA%B1%B0%EC%8A%A4%ED%8B%B4/place/31936062?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                        <div class="subject">오토김밥 상암점</div>
                                    </a>
                                    <div class="description1">#가성비 #10분이내 #분식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            132
                                        </div>
                                        <div class="like-text"><a href="#">💙</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로 434 상암it타워 1층 101호</div>
                                <div class="price">4,500원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="https://map.naver.com/v5/entry/place/1480474215?c=15,0,0,0,dh&isCorrectAnswer=true">
                            <div class="image">
                                <img src="../image/manyeogimbab.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/entry/place/1480474215?c=15,0,0,0,dh&isCorrectAnswer=true">
                                        <div class="subject">청담동마녀김밥 상암점
                                        </div>
                                    </a>
                                    <div class="description1">#김밥 #10분이내 #분식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            121
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로54길 17 1층 105호</div>
                                <div class="price">5,000원~</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </main>

    <hr />
    <footer>
        <div style="width: 880px;">
            <nav>
                <a href="https://map.naver.com/v5/search/%EC%83%81%EC%95%94%EB%8F%99%20%EB%A7%9B%EC%A7%91?c=13,0,0,0,dh"
                    target="_blank">Naver_map</a> |
                <a href="https://map.kakao.com/" target="_blank">Kakao_map</a>
            </nav>
            <p>
                <span>팀명 : </span></br>
                <span>팀원 : 복영빈 - header, 김승연 - navigation, 임예지 - header/footer, 공태식 - section</span></br>
                <span>Copyright 2023. All Rights Reserved </span></br>
            </p>
        </div>
    </footer>
</body>

</html>