<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 커뮤니티</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <main>
        <div class="left-space">
            <header>
                <img src="../image/woori_fis_logo.png" alt="로고">
            </header>
            <nav>
                <!-- 메뉴바 -->
                <li id="menu1"><a href="menu1.html">좋아요순</a></li>
                <li id="menu2"><a href="menu2.html">가격순</a></li>
                <li id="menu3"><a href="menu3.html">거리순</a></li>

            </nav>
        </div>

        <section>
            <header>
                <div class="category">
                    <div class="box">한식</div>
                    <div class="box">아시안/중식</div>
                    <div class="box">일식</div>
                    <div class="box">분식</div>
                    <div class="box">양식</div>
                    <div class="search">
                        <input type="text" name="query" value="" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </div>
                </div>
            </header>
            <article>
                <ul>
                    <li>
                        <a href="https://map.naver.com/v5/entry/place/35425287?c=15,0,0,0,dh&isCorrectAnswer=true">
                            <div class="image">
                                <img src="../image/medpogalic.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/entry/place/35425287?c=15,0,0,0,dh&isCorrectAnswer=true">
                                        <div class="subject">매드포갈릭 상암MBC점</div>
                                    </a>
                                    <div class="description1">#분위기 #10분~ #양식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            132
                                        </div>
                                        <div class="like-text"><a href="#">💙</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 성암로 255 mbc 몰 플라자 2층</div>
                                <div class="price">30,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            href="https://map.naver.com/v5/search/%EB%9A%9C%EC%8A%A4%EC%BF%A0%EC%B9%98%EB%82%98/place/31077638?c=13,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                            <div class="image">
                                <img src="../image/ttusukuchina.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/search/%EB%9A%9C%EC%8A%A4%EC%BF%A0%EC%B9%98%EB%82%98/place/31077638?c=13,0,0,0,dh&placePath=%3Fentry%253Dbmp">
                                        <div class="subject">뚜띠쿠치나 상암점</div>
                                    </a>
                                    <div class="description1">#파스타 #10분이내 #양식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            121
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로 400 한국영상자료원 1층 A111호</div>
                                <div class="price">20,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="https://map.naver.com/v5/entry/place/1426588281?c=15,0,0,0,dh">
                            <div class="image">
                                <img src="../image/portu7.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a href="https://map.naver.com/v5/entry/place/1426588281?c=15,0,0,0,dh">
                                        <div class="subject">포르투7 상암MBC점</div>
                                    </a>
                                    <div class="description1">#피자맛집 #10분~ #양식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            99
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 성암로 255 MBC몰 플라자 1층 103호</div>
                                <div class="price">20,000원~</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            href="https://map.naver.com/v5/entry/place/1059065452?lng=126.886204508719&lat=37.58142359191749&placePath=%2Fhome&entry=plt&c=15,0,0,0,dh">
                            <div class="image">
                                <img src="../image/leessunseng.png" alt="맛집 사진">
                            </div>
                        </a>
                        <div class="content">
                            <div class="subject-contain">
                                <div>
                                    <a
                                        href="https://map.naver.com/v5/entry/place/1059065452?lng=126.886204508719&lat=37.58142359191749&placePath=%2Fhome&entry=plt&c=15,0,0,0,dh">
                                        <div class="subject">이선생짜글이</div>
                                    </a>
                                    <div class="description1">#가성비 #가까운 #한식</div>
                                </div>
                                <div class="like-contain">
                                    <div class="like">
                                        <div class="like-count">
                                            132
                                        </div>
                                        <div class="like-text"><a href="#">🤍</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-contain">
                                <div class="description2">서울 마포구 월드컵북로 434 112호</div>
                                <div class="price">10,000원~</div>
                            </div>
                        </div>
                    </li>
                </ul>

            </article>
        </section>
    </main>

    <hr />
    <footer>
        <div style="width: 880px;">
            <nav>
                <a href="https://map.naver.com/v5/search/%EC%83%81%EC%95%94%EB%8F%99%20%EB%A7%9B%EC%A7%91?c=13,0,0,0,dh"
                    target="_blank">Naver_map</a> |
                <a href="https://map.kakao.com/" target="_blank">Kakao_map</a>
            </nav>
            <p>
                <span>팀명 : </span></br>
                <span>팀원 : 복영빈 - header, 김승연 - navigation, 임예지 - header/footer, 공태식 - section</span></br>
                <span>Copyright 2023. All Rights Reserved </span></br>
            </p>
        </div>
    </footer>
</body>

</html>